.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    label {
        font-size: 14px;
        font-weight: 700;
        color: rgb(44, 49, 66);
        margin-bottom: 3px;
    }
    input {
        padding: 10px;
        font-size: 14px;
        color: rgb(21, 25, 39);
        border: 1px solid #e5e5e5;
        border-radius: 5px;

        &:focus {
            outline-color: #75a9e4;
        }
    }
}