@import '../../../assets/scss/partials/variables';

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    label {
        font-size: 14px;
        font-weight: 700;
        color: $color-black;
        margin-bottom: 3px;
    }
    input, textarea {
        padding: 10px;
        font-size: 14px;
        font-family: 'Mulish', sans-serif;
        color: $color-black;
        border: 1px solid #e5e5e5;
        border-radius: 5px;

        &:focus {
            outline-color: #75a9e4;
        }
    }
}