// Font Variable
$font-primary: 'Mulish', sans-serif;

// Color variable
$color-primary: #4d79d5;
$color-primary-light: #dfe9ff;
$color-primary-dark: #2d509b;
$color-background: #f5f7ff;
$color-white: #ffffff;
$color-black: #11131a;
$color-gray: #5a5e6b;

// Shadow Variable
$shadow-card: 0px 6px 12px rgba(234, 235, 241, 0.50);
$shadow-btn-primary: 0px 4px 10px rgba(71, 121, 213, 0.50);